@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-border {
  background: rgba(30, 29, 29, 0.2);
  border: 15px solid #202020;
  border-radius: 50%;
}

.custom-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;  
}

.custom-paragraph{
  font-style: poppins;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #000000 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
